@charset "UTF-8";
@font-face { font-family: justsans; src: url('../font/justSans.woff') format(truetype); }

* { transition: color .4s, background-color .4s; }

a { text-decoration: none; }

li { float: left; list-style-type: none; margin: 30px 10px 0; }

:is(body, header) { background: #FFF; }

h1 { color: #0A0A0A; font: normal 5em justsans; text-align: center; }

header p { color: #0A0A0A; font: 20px justsans; margin-top: -55px; text-align: center; }

main { background: #F4F4F4; padding-bottom: 80px; }

p { color: #62748E; font: 22px justsans; margin: 40px 160px; text-align: justify; line-height: 1.5; }

h2 { color: #0A0A0A; font: 40px justsans; text-align: center; }

h3 { color: #0A0A0A; font: 26px justsans; margin: 30px 0 -20px 30px; }

footer {
  display: flex;
  background: #FFF;
  align-items: center;
  padding: 40px 20px 30px;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .015);
}

footer p { color: #62748E; font-size: 16px; margin: 0 135px 0 0; }

.icon { color: #0A0A0A; font-size: 32px; padding: 10px; }

#firstIcon { margin-left: 135px; }

#navbar { top: -90px; height: 90px; position: sticky; transition: top .2s, background-color .4s; z-index: 10; }

#navbar.scrolled { background-color: rgba(255, 255, 255, .4); backdrop-filter: blur(10px); }

.txtNavbar { color: #0A0A0A; font: 18px justsans; margin: 35px; }

.txtNavbar.scrolled { color: #0A0A0A; }

.toggleTheme { color: #FFF; position: absolute; top: 36%; right: 40px; cursor: pointer; width: 32px; height: 32px; }

.themeIcon { position: absolute; font-size: 24px; transition: opacity .5s, transform .5s; }

.languageToggle {
  top: 35.45%;
  right: 110px;
  cursor: pointer;
  font-size: 24px;
  color: #0A0A0A;
  position: absolute;
}

.languageMenu {
  right: 0;
  top: 140%;
  opacity: 0;
  width: auto;
  overflow: hidden;
  position: absolute;
  background: #FFF;
  border-radius: 8px;
  visibility: hidden;
  min-width: max-content;
  transform: translateY(-10px);
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
  transition: opacity .2s, visibility .2s, transform .2s;
}

.languageMenu button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background: none;
  border: none;
  text-align: left;
  font: 16px justsans;
  color: #0A0A0A;
  cursor: pointer;
}

.languageMenu button:hover { background: rgba(0, 0, 0, .05); }

.languageMenu.open { opacity: 1; visibility: visible; transform: translateY(0); }

#pfpWrapper {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  width: 200px; height: 200px;
}
#pfp { width: 100%; height: 100%; object-fit: cover; }

.boxes { display: flex; justify-content: center; gap: 12vh; padding-top: 40px; }

.boxWrapper { background: #FFF; display: flex; flex-direction: column; width: 450px; border-radius: 30px; }

.boxWrapper p { margin: 20px 0 0; text-align: justify; padding: 30px; }
.box {
  height: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  display: inline-block;
  border: 1.8px solid transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background: linear-gradient(145deg, #d4d4d4, #FFF, #a8a8a8) border-box, transparent padding-box;
}
.box img { width: 100%; height: 100%; object-fit: cover; transition: transform .3s, filter .3s; }

.box img:hover { transform: scale(1.05); filter: brightness(1.05); }

body.dark footer p { color: #ABABAB; }

body.dark main { background: #262626; }

body.dark #navbar.scrolled { background: rgba(0, 0, 0, .4); }

body.dark, body.dark :is(header, footer) { background: #0A0A0A; }

body.dark :is(.languageMenu, .boxWrapper) { background: #171717; }

body.dark .languageMenu button:hover { background: rgba(255, 255, 255, .1) }

body.dark :is(.txtNavbar, .txtNavbar.scrolled, .languageToggle, .languageMenu button, h1, h2, h3, p, .icon) { color: #E5E5E5; }

@media(max-width: 768px) {
  h1 { font-size: 4em; }

  header p { margin-top: -30px; }

  p { margin: 40px 40px; font-size: 18px; }

  h2 { margin: 40px 40px; font-size: 24px; }

  footer { padding: 40px 20px 30px; flex-direction: column; justify-content: center; text-align: center; }

  footer p { margin: 20px 0 0; }

  #firstIcon { margin: 0; }

  .boxes { flex-direction: column; align-items: center; }

  .boxWrapper { width: 90%; max-width: 400px; }
}